@import "../config"

window {
  background-color: @background;
  padding: 20px;
}

element {
  padding: 15px;
  border-radius: 10px;
  background-color: @background;
  text-color: @foreground;
  font: @font;
}

element selected {
  background-color: @accent;
  text-color: @background;
}

